<a href="https://colab.research.google.com/github/Blazer-007/Data-Science/blob/master/JokeApiScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from urllib.request import urlopen

In [0]:
base_url = "http://api.icndb.com/jokes/"

In [0]:
import pandas as pd

In [0]:
id = pd.read_csv('ID.csv')

In [6]:
id.head()

   ID
0   1
1   2
2   3
3   4
4   5

In [8]:
id.shape

(473, 1)

In [0]:
import json

In [25]:
api_url = base_url+str(1)
url_result = urlopen(api_url)
json_data = json.loads(url_result.read())
print(type(json_data))

<class 'dict'>

In [21]:
print(type(json_data['value']['joke']))

<class 'str'>

In [0]:
jokes = []

In [0]:
for i in id['ID']:
  api_url = base_url+str(i)
  url_result = urlopen(api_url)
  json_data = json.loads(url_result.read())
  joke = json_data['value']['joke']
  jokes.append(joke)

In [29]:
print(len(jokes))

473

In [30]:
jokes[10]

'Pluto is actually an orbiting group of British soldiers from the American Revolution who entered space after the Chuck gave them a roundhouse kick to the face.'

In [0]:
submission = pd.DataFrame({ 'Id': id.ID.values, 'Joke': jokes })

In [0]:
submission.to_csv("my_submission.csv", index=False)

In [0]:
sub = pd.read_csv("my_submission.csv")

In [34]:
sub.head()

   Id                                               Joke
0   1  Chuck Norris uses ribbed condoms inside out, s...
1   2  MacGyver can build an airplane out of gum and ...
2   3  Chuck Norris doesn't read books. He stares the...
3   4  If you ask Chuck Norris what time it is, he al...
4   5  Chuck Norris lost his virginity before his dad...